body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.circle {
  justify-content: center;
  align-items: center; 
  display: inline-flex; 
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  margin-top: 10px;
  position: absolute;
}

.f4 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.btn {
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    max-width: 300px;
  }
}